@use "_base.scss" as *;

body {
  color: #880e4f;
  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  font-family: "Nerko One", cursive;
}

.game {
  border: 10px solid;
}
.header {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 80px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-left: 70px;
  }
}

.game__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  width: 306px;
  margin: 50px auto;
}
